.container__contato{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  margin-top: 3rem;
  height: 35rem;
}

.container__contato{
  background-image:url("/assets/img/Contato.png");
  background-repeat: no-repeat;
  background-position-y: 5%;
  background-position-x: center;
  background-size: 300px;
}

.container__numero{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  opacity: 0.9;
  font-family: 'Corinthia', cursive;
  font-size: 2rem;
}

.container__numero > h1{
  color:brown;
  font-size: 3.25rem;
}

.container__numero > a{
  color:brown;
  text-decoration: none;
}

.container__localizacao{
  margin-top: 2rem;
  display:flex;
  align-items: center;
  align-content: center;
  flex-direction: column;

}

.container__localizacao>iframe{
  border:rgb(255, 255, 255);
}

.container__edificio{
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius:50%;

}

.container__edificio>img{
  border-radius:50%;
  height: 10rem;
  width: 10rem;
  border: solid white 4px;
  box-shadow: rgba(50, 50, 50, 0.77) 9px 7px 5px;
}
