<div id="contato" class="container__contato">

  <div class="container__numero">
    <h1>Agende sua visita</h1>
    <a href="https://api.whatsapp.com/send?1=pt_BR&phone=55084994049102">(84) 99404-9102</a>
  </div>

  <div class="container__localizacao">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15875.205885107878!2d-35.2258358!3d-5.8834992!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b257ec09ad4b23%3A0x72a18dbcfbcc117d!2sLa%20Cidda%20Coiffeur!5e0!3m2!1spt-BR!2sbr!4v1671487373776!5m2!1spt-BR!2sbr" width="500" height="300" style="border-radius:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>

  <div class="container__edificio">
    <img src="/assets/img/Edificio.png" alt="" srcset="">
  </div>

</div>

