.container__contato{
  opacity: 0.9;
  margin-top: 5rem;
  height: 8rem;
  width: 100%;
  background-image:url("/assets/img/Contato.png");
  background-repeat: no-repeat;
  background-position-y: 5%;
  background-position-x: center;
  background-size: 450px;
}

.container__numero{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  opacity: 0.9;
  font-family: 'Corinthia', cursive;
  font-size: 2rem;
}

.container__numero > h1{
  color:brown;
}

.container__numero > a{
  color:brown;
  text-decoration: none;
}

.container__localizacao{
  margin-top: 2rem;
  display:flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.container__localizacao>iframe{

border:rgba(0, 0, 0, 1)
}
