@media screen and (max-width: 650px) {
  .container__contato{
    height: 460px;
    display: column;
    justify-content: center;
  }

  .container__numero > h1{
    font-size: 3.25rem;
  }

  .container__edificio{
    margin-top: -4rem;
  }

  .container__localizacao>iframe{
    height: 15em;
    width: 20rem;
  }

  .container__edificio>img{
    height: 8rem;
    width: 8rem;
  }

  .container__contato{
    background-size: 300px;
  }
}
