.container__big-card{
  height: 330px;
  width: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.big-card__t_d{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;

}

.big-card__title > h1{
  font-size: 3.25rem;
  width: 300px;
  font-family: 'Corinthia', cursive;
}

.big-card__description > p{
  margin-top: 1rem;
  font-size: 1.2rem;
  width: 250px;
  color:rgb(87, 86, 86);
  font-family: 'Dancing Script', cursive;
}

.big-card__photo{
  display: flex;
  flex-direction: column;
}

#img__redonda-right{
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

.big-card__photo2{
  display: flex;
  justify-content: center;
}

#img__redonda-center{
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 50%;
  margin-top: -6.25rem;
}
