<div class="container__big-card">
  <div class="big-card__t_d">
    <div class="big-card__title">
    <h1>Salão de beleza e saúde</h1>
    </div>
    <div class="big-card__description">
    <p>
      Mais do que cuidar da beleza, o profissional de estética é responsável
      por promover o bem-estar das pessoas, já que a busca pela qualidade de vida.
    </p>
    </div>
  </div>
  <div class="big-card__photo">
    <img id="img__redonda-right" src="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/220031382_10215410562377507_5046127465141575615_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=0debeb&_nc_ohc=B7GoAgdah-cAX_e2HYE&_nc_ht=scontent.fnat1-1.fna&oh=00_AfBjmWubVuA4k3mItZedZGAW5OP9KZhhCWG4DP55cYOHUA&oe=63A2F134" srcset="">
  </div>
</div>


