<div class="container__big-card">
  <div class="big-card__t_d">
    <div class="big-card__title">
    <h1>Salão de beleza e saúde</h1>
    </div>
    <div class="big-card__description">
    <p>
      bla bla bla bla bla bla
      bla bla bla bla bla bla
      bla bla bla bla bla bla
      bla bla bla bla bla bla
    </p>
    </div>
  </div>
  <div class="big-card__photo-right">
    <img id="img__redonda-right" src="https://img.freepik.com/fotos-gratis/retrato-de-mulher-bonita-feliz-morena-sexy-bonita-com-labios-vermelhos-em-calcas-largas-classicas-sobre-fundo-branco_158538-9385.jpg" alt="" srcset="">
    <img id="img__redonda-center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTygqwqAH4Y7nc7Zo_CQqJij8ZncSTEqT4H3Q&usqp=CAU" alt="" srcset="">
  </div>

</div>
