.container__big-card{
  margin-top: 2rem;
  height: 20.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.big-card__t_d{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 1.25rem;
}

.big-card__title > h1{
  font-size: 3.25rem;
  width: 18.75rem;
  font-family: 'Corinthia', cursive;
}

.big-card__description > p{
  margin-top: 1rem;
  font-size: 1.2rem;
  width: 15.625rem;
  color:rgb(87, 86, 86);
  font-family: 'Dancing Script', cursive;
}

.big-card__photo{
  display: flex;
  flex-direction: column;
}

#img__redonda-right{
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}




