@media screen and (max-width: 600px) {
  .container__title{
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .container__description1 {
    height: 5rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
  }

  .container__description2 {
    height: 5rem;
    width: 22rem;
    display: flex;
    flex-direction: row;
  }
}
