<app-menu-bar-service></app-menu-bar-service>

<div class="container__content">
  <div class="container__title">
    <h1>Serviços</h1>
  </div>

  <div class="container__subtitle">
    <h3>Cabelos</h3>
    <h4>Mechas</h4>
  </div>

  <app-service-photos></app-service-photos>

  <div class="container__subtitle">
  <h3>Maquiagem</h3>
  </div>

  <app-service-photos></app-service-photos>

  <div class="container__subtitle">
    <h3>Depilação</h3>
    <h4>Sombracelhas</h4>
  </div>

  <app-service-photos></app-service-photos>

  <a [routerLink]="['']"> << VOLTAR </a>
</div>
