

<div class="container__content">
  <div class="container__title">
    <h1>Serviços</h1>
  </div>

  <div class="container__subtitle">
    <h3>Cabelos</h3>
    <h4>Mechas</h4>
  </div>

  <app-service-photos
    photoLeft="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/280196450_1710802662584513_3318464769571694175_n.jpg?stp=cp0_dst-jpg_e15_fr_q65&_nc_cat=104&ccb=1-7&_nc_sid=9e2e56&efg=eyJpIjoidCJ9&_nc_ohc=mwGHa-B1RdQAX_Ydc02&_nc_ht=scontent.fnat1-1.fna&oh=00_AfBKQoVFzXLq7NSgZruRefDnfHQ2z19-I-0cWPIIztRhsg&oe=63A3C6CA"
    titlePhotoLeft="Micro Mechas"

    photoCenter="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/299155873_430045869150319_185479920961637221_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=MQznNTvP69MAX-Oni1-&_nc_ht=scontent.fnat1-1.fna&oh=00_AfDuN6wrg3efgNfwRAe1hYHl4mMBbi5LBSUhiMVCl9cl4A&oe=63A6F725"
    titlePhotoCenter="Mechas"

    photoRight="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/280390861_1711831109148335_7164458090138317960_n.jpg?stp=cp0_dst-jpg_e15_fr_q65&_nc_cat=110&ccb=1-7&_nc_sid=9e2e56&efg=eyJpIjoidCJ9&_nc_ohc=M62W4Ut9CDIAX8TkYxk&tn=47B8jkXbzghAlgci&_nc_ht=scontent.fnat1-1.fna&oh=00_AfAs5zGSB3rfjjCY404_CRqCqG-_RG3W9WtDVvtpSiXRAg&oe=63A2A37A"
    titlePhotoRight="Mechas Manteiga"
  ></app-service-photos>

  <div class="container__subtitle">
    <h4>Morena Iluminada</h4>
  </div>

  <app-service-photos
    photoLeft="/assets/img/morena-iluminada2.jpg"
    titlePhotoLeft=""

    photoCenter="/assets/img/morena-iluminada.jpg"
    titlePhotoCenter=""

    photoRight="/assets/img/morena-iluminada3.jpg"
    titlePhotoRight=""
  ></app-service-photos>

  <div class="container__subtitle">
    <h4>Cortes</h4>
  </div>

  <app-service-photos
    photoLeft="/assets/img/cortes1.jpg"
    titlePhotoLeft="Chanel"

    photoCenter="/assets/img/cortes2.jpg"
    titlePhotoCenter="Degradê"

    photoRight="/assets/img/cortes3.jpg"
    titlePhotoRight="Base reta"
  ></app-service-photos>

  <div class="container__subtitle">
  <h3>Maquiagem e Sobrancelhas</h3>
  </div>


  <app-service-photos
  photoLeft="/assets/img/maquiagem3.jpg"
  titlePhotoLeft=""

  photoCenter="/assets/img/maquiagem1.jpg"
  titlePhotoCenter=""

  photoRight="/assets/img/maquiagem2.jpg"
  titlePhotoRight=""

  ></app-service-photos>

</div>
