<app-menu-bar

  cardHome="Home"
  cardBemvindo="Bem vindo"
  cardServicos="Serviços"
  cardContato="Contato"

></app-menu-bar>

<app-salao-de-beleza

  cardTitle="Salão de beleza"
  cardDescription= "Mais do que cuidar da beleza, o profissional de estética é responsável por promover o bem-estar das pessoas e a busca pela qualidade de vida."
  photoCover="assets/img/cidda.jpg"

></app-salao-de-beleza>

<app-bem-vindo

  cardTitle="Bem vindo"
  cardDescription1="Meu nome é Aparecida e estou muito feliz em recebê-lo a bordo da La Cidda Coiffeur!"
  cardDescription2="Você tem a oportunidade de se juntar a mim para ser sua fiel
  hair stylist aqui você pode ter certeza que sua beleza está na mão certa."

></app-bem-vindo>

<app-servicos

  title="O que oferecemos?"

  photoLeft="assets/img/maquiagem.png"
  titlePhotoLeft="Maquiagem"

  photoCenter="assets/img/cabelos.jpg"
  titlePhotoCenter="Cabelos"

  photoRight="assets/img/maquiagem3.png"
  titlePhotoRight="Sobrancelhas"

  description="Conheça nossa linha completa de serviços"

></app-servicos>

<app-contato

  cardTitle="Agende sua visita"
  cardNumber="(84) 99404-9102"

></app-contato>
