<app-menu-bar

  cardHome="Home"
  cardBemvindo="Bem vindo"
  cardServicos="Serviços"
  cardContato="Contato"

></app-menu-bar>

<app-big-card

  cardTitle="Salão de beleza"
  cardDescription= "Mais do que cuidar da beleza, o profissional de estética é responsável por promover o bem-estar das pessoas e a busca pela qualidade de vida."
  photoCover="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/220031382_10215410562377507_5046127465141575615_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=0debeb&_nc_ohc=B7GoAgdah-cAX_e2HYE&_nc_ht=scontent.fnat1-1.fna&oh=00_AfBjmWubVuA4k3mItZedZGAW5OP9KZhhCWG4DP55cYOHUA&oe=63A2F134"

></app-big-card>

<app-small-card

  cardTitle="Bem vindo"
  cardDescription1="Meu nome é Aparecida e estou muito feliz em recebê-lo a bordo da La Cidda Coiffeur!"
  cardDescription2="Você tem a oportunidade de se juntar a mim para ser sua fiel
  hair stylist aqui você pode ter certeza que sua beleza está na mão certa."

></app-small-card>

<app-oferecemos

  title="O que oferecemos?"

  photoLeft="assets/img/maquiagem.png"
  titlePhotoLeft="Maquiagem"

  photoCenter="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/280196450_1710802662584513_3318464769571694175_n.jpg?stp=cp0_dst-jpg_e15_fr_q65&_nc_cat=104&ccb=1-7&_nc_sid=9e2e56&efg=eyJpIjoidCJ9&_nc_ohc=mwGHa-B1RdQAX_Ydc02&_nc_ht=scontent.fnat1-1.fna&oh=00_AfBKQoVFzXLq7NSgZruRefDnfHQ2z19-I-0cWPIIztRhsg&oe=63A3C6CA"
  titlePhotoCenter="Cabelos"

  photoRight="https://scontent.fnat1-1.fna.fbcdn.net/v/t1.6435-9/47375845_782355795429209_4751771590876725248_n.jpg?stp=c0.79.721.721a_dst-jpg_s851x315&_nc_cat=109&ccb=1-7&_nc_sid=da31f3&_nc_ohc=j8vkeG1iPVwAX9dH60P&_nc_ht=scontent.fnat1-1.fna&oh=00_AfAzBP995vNTBHq5dqIWQSn9USq6csRaz0IWO9W_-VcLoA&oe=63C9FCE9"
  titlePhotoRight="Sobrancelhas"

  description="Conheça nossa linha completa de serviços"

></app-oferecemos>

<app-contato

  cardTitle="Agende sua visita"
  cardNumber="(84) 99404-9102"

></app-contato>
