<app-menu-bar
  cardHome="Home"
  cardBemvindo="Bem vindo"
  cardServicos="Serviços"
  cardContato="Contato"
></app-menu-bar>

<app-big-card
  cardTitle="Salão de beleza"
  cardDescription= "Mais do que cuidar da beleza, o profissional de estética é responsável por promover o bem-estar das pessoas e a busca pela qualidade de vida."
  photoCover="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/220031382_10215410562377507_5046127465141575615_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=0debeb&_nc_ohc=B7GoAgdah-cAX_e2HYE&_nc_ht=scontent.fnat1-1.fna&oh=00_AfBjmWubVuA4k3mItZedZGAW5OP9KZhhCWG4DP55cYOHUA&oe=63A2F134"
></app-big-card>

<app-small-card

></app-small-card>
<app-oferecemos></app-oferecemos>

<app-contato
  cardTitle="Agende sua visita"
  cardNumber="(84) 99404-9102"
></app-contato>
