.container__menu-bar{
  margin-top: 2rem;
}

.container__menu-bar>ul
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container__menu-bar>ul>li
{
  margin-right: 1.5rem;
  list-style: none;

}

.container__menu-bar>ul>li>a{
  text-decoration: none;
  font-family: 'Corinthia', cursive;
  font-size: 2.25rem;
  color:brown;
}
