<div id="servicos" class="container__oferecemos">

  <div class="container__title">
    <h1>{{title}}</h1>
  </div>

  <div class="container__oferta">
  </div>

  <div class="container__photos">

    <div class="container__photo-left">
      <img src="{{photoLeft}}">
      <a [routerLink]="['servicos']">{{titlePhotoLeft}}</a>
    </div>

    <div class="container__photo-center">
      <img src="{{photoCenter}}">
      <a>{{titlePhotoCenter}}</a>
    </div>

    <div class="container__photo-right">
      <img src="{{photoRight}}">
      <a>{{titlePhotoRight}}</a>
    </div>
  </div>

  <div class="container__servicos">
      <p>{{description}}</p>
      <button [routerLink]="['servicos']" class= "container__btn">Ver todos os serviços</button>
  </div>
</div>






