<div class="container__oferecemos">
  <div class="container__title">
    <h1>O que oferecemos?</h1>
  </div>

  <div class="container__photos1">
    <div class="container__photo-left">
      <img src="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/291095249_1756906134640832_6812638353186689071_n.jpg?stp=cp0_dst-jpg_e15_fr_q65&_nc_cat=107&ccb=1-7&_nc_sid=9e2e56&efg=eyJpIjoidCJ9&_nc_ohc=2WE6Drl_LXAAX-GviNV&_nc_ht=scontent.fnat1-1.fna&oh=00_AfC6F0Tn2Gw7xl0vcBtOrKEOx9Qo51NG79rniKjenD9RRA&oe=63A247BC">
      <p>Maquiagem</p>
    </div>
    <div class="container__photo-center">
      <img src="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/280196450_1710802662584513_3318464769571694175_n.jpg?stp=cp0_dst-jpg_e15_fr_q65&_nc_cat=104&ccb=1-7&_nc_sid=9e2e56&efg=eyJpIjoidCJ9&_nc_ohc=mwGHa-B1RdQAX_Ydc02&_nc_ht=scontent.fnat1-1.fna&oh=00_AfBKQoVFzXLq7NSgZruRefDnfHQ2z19-I-0cWPIIztRhsg&oe=63A3C6CA" alt="">
      <p>Micro Mechas/p>
    </div>
    <div class="container__photo-right">
      <img src="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/319630227_608671291028864_6023105320994770389_n.jpg?stp=cp6_dst-jpg&_nc_cat=102&ccb=1-7&_nc_sid=0debeb&_nc_ohc=WxpMfDONN1gAX-DdLMN&_nc_ht=scontent.fnat1-1.fna&oh=00_AfBrhIKnLjDLf2RRG1ndQ4XQiY3SzLDWnJpD0Ay89hC9eg&oe=63A14368">
      <p>Tratamento</p>
    </div>
  </div>
  <div class="container__photos2">
    <div class="container__photo-left">
      <img src="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/280390861_1711831109148335_7164458090138317960_n.jpg?stp=cp0_dst-jpg_e15_fr_q65&_nc_cat=110&ccb=1-7&_nc_sid=9e2e56&efg=eyJpIjoidCJ9&_nc_ohc=M62W4Ut9CDIAX8TkYxk&tn=47B8jkXbzghAlgci&_nc_ht=scontent.fnat1-1.fna&oh=00_AfAs5zGSB3rfjjCY404_CRqCqG-_RG3W9WtDVvtpSiXRAg&oe=63A2A37A">
      <p>Mechas Manteiga</p>
    </div>
    <div class="container__photo-center">
      <img src="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/278878713_1696539707344142_7752045887336197081_n.jpg?stp=cp0_dst-jpg_e15_fr_q65&_nc_cat=104&ccb=1-7&_nc_sid=9e2e56&efg=eyJpIjoidCJ9&_nc_ohc=oa9sSQV7_L0AX9sktLq&_nc_ht=scontent.fnat1-1.fna&oh=00_AfBpJ7phmfe9iHjX7bVdvJ3rDVwgKaMh-padicTCi0McZg&oe=63A21F33" alt="">
      <p>Mechas Parcial</p>
    </div>
    <div class="container__photo-right">
      <img src="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.30808-6/320264326_1547985295647104_2444375160048027151_n.jpg?stp=c0.119.1440.1440a_dst-jpg_s851x315&_nc_cat=104&ccb=1-7&_nc_sid=da31f3&_nc_ohc=uSudmFWDqMcAX_Ukars&tn=47B8jkXbzghAlgci&_nc_ht=scontent.fnat1-1.fna&oh=00_AfCyNE2mCFeOli0J_jL3uX0ibYdiASgHQ_KezIqmy7VaTg&oe=63A2886D">
      <p>Morena Iluminada</p>
    </div>
  </div>
</div>






